name: stretch bot

on:
  schedule:
    - cron: "0 9-17 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: send message to slack with curl
      env:
        stretch_bot_slack_endpoint: ${{ secrets.STRETCH_BOT_SLACK_ENDPOINT }}
      run: sh ./stretch_bot.sh
      # run: echo $stretch_bot_slack_endpoint
    
