name: stretch bot

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: send message to slack with curl
      run: curl -X POST --data-urlencode "payload={\"channel\": \"#notifications\", \"link_names\": 1, \"username\": \"healthbot\", \"text\": \"@bearzk @miaozi Stand up and do this :ok_woman:! Be Happy! -- HappyTiger \n\n$quote\", \"icon_emoji\": \":tiger2:\"}" ${{ secrets.STRETCH_BOT_SLACK_ENDPOINT }}
    
